/*   --- CSS Settings ---   */
/* import the fonts used on website */
@font-face {
	font-family: 'Fregat';
	src: url('fonts/fregat_bold.woff') format('woff');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Comfortaa';
	src: url('fonts/Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Comfortaa-Light';
	src: url('fonts/Comfortaa-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Comfortaa-Bold';
	src: url('fonts/Comfortaa-Bold.ttf') format('truetype');
}

/* removes blue focus outline */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}
/* --- End of CSS Settings --- */

body{
	height: auto;
}

#header_wrap{
	background-color: #4cb0df;
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255,255,255,0.3)), color-stop(100%, rgba(255,255,255,0)));
	background-image: -webkit-radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
	background-image: -moz-radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
	background-image: -o-radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
	background-image: radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0));
}

.navbar-default {
	background-color: transparent; 
	border-color: transparent;
	padding-top: 2em;
	color: #fff!important;
}

.navbar-brand{
	font-family: 'Fregat';
	font-size: 3em;
	font-weight: bold;
	color: #fff!important;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Comfortaa';
}

.navbar-nav > li > a {
	padding-top: 18px;
	padding-bottom: 15px;
	font-size: 1.2em;
}

.navbar-toggle {
	border: none!important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-radius: 6px;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 25px;
	height: 4px;
	border-radius: 3px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

#header_section {
	padding-top: 2em;
	color: #fff;
}

#header_section p{
	font-family: 'Comfortaa';
}

#top_info{
	font-size: 1.8em;
}

#header_section h1{
	text-transform: uppercase;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 5em;
	margin-bottom: 20px;
}

#bottom_info{
	font-size: 1.4em;
	color: #333333;
}

.header_content{
	position: relative;
}

.btn_arrow{
	position: absolute;
}

@media (min-width: 768px){
	.btn_arrow{
		left: 18%;
		top: 40.5%%;
	}
}

@media (min-width: 992px) {
	.btn_arrow{
		left: 27%;
		top: 40.5%%;
	}
}

@media (min-width: 1200px) {
	.btn_arrow{
		left: 30%;
		top: 40.5%%;
	}
}

#btn_lost, #btn_found{
	padding: 18px 75px;
  	font-size: 15px;
  	color: #fff;
  	font-family: 'Roboto-Medium';
  	border: 2px solid #fafafa;
  	border-radius: 10px;
}
@media (min-width: 768px) {
	#btn_lost{
		float: right;
	}
	#btn_found{
		float: left;
	}
}

#btn_lost{
	background-color: #F97373;
}

#btn_found{
	background-color: #2CD8AA;
}

.btn_hint{
	font-family: 'Roboto';
	font-style: italic;
	font-size: 15px;
}

.panel-heading{
	display: none;
}

.header_content .panel-group {
	margin-bottom: 0;
}

.how_it_works{
	background-color: #fff;
	color: #333;
}

#content_wrap{
	color: #333;
	font-family: 'Comfortaa-Light';
}

.how_it_works h2{
	padding-top: 25px;
	text-align: right;
}

.how_it_works p{
	text-align: right;
	font-family: 'Comfortaa';
	color: #9e9d97;
	font-size: 1.2em;
}

.how_it_works img{
	max-height: 300px;
}




