<!doctype html>
<html ng-app="lostAndFoundApp">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
	<!-- endbuild -->
</head>
<body>
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
		your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Poterya</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ваш
							город:
							<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Астана</a></li>
							<li><a href="#">Алматы</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Служба поддержки: +7(778) 664-9388</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container" ng-controller="MainCtrl" ng-cloak>
		<!-- <div class="row">
			<div class="col-xs-12 col-sm-8"><h2>Добрый день, уважаемый посетитель!</h2><br>
			  Ежедневно множество людей теряют либо находят ценные документы или предметы. Каждый из нас может оказаться в данной ситуации, ведь от этого никто не застрахован. Восстановление документов или замена пропажи - это сложный, затратный и долгий процесс. (дописать 1 или 2 предложения)
			  Наш проект предлагает помощь Вам или Вашим близким. Мы поможем Вам найти свою пропажу или вернуть найденное.
			  Не оставайтесь в стороне, помогайте тем, кто нуждается в Вашей помощи и Вам воздастся втройне!
			</div>
			<div class="col-xs-12 col-sm-4"><img src="images/wallet.png" class="img-responsive" alt="Responsive image"></div>
		  </div> -->
		<div class="row">
			<div class="col-sm-offset-2 col-sm-4 col-xs-6">
				<p>
					<button class="btn btn-danger btn-lg btn-block" type="button" ng-click="setFormTypeAndToggleOpen('lost', 'утери')">
						Утеряно
					</button>
				</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<p>
					<button class="btn btn-success btn-lg btn-block" type="button" ng-click="setFormTypeAndToggleOpen('found', 'находки')">
						Найдено
					</button>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-xs-12 col-sm-offset-2">
				<accordion>
					<accordion-group is-open="isFormOpen">
						<form name="lostAndFoundForm" novalidate>
							<h4 class="text-primary">Предмет {{formTypeRu}}</h4>

							<div class="form-group">
								<label>Категория: *</label>
								<select class="form-control" id="lostAndFound.lostCategory" ng-model="lostAndFound.lostCategory">
									<option>Документ</option>
									<option>Портмоне/Сумка</option>
									<option>Телефон/Планшет</option>
									<option>Гос. номер</option>
									<option>Печати/Штампы</option>
									<option>Другое</option>
								</select>
							</div>
							<div class="form-group">
								<label>Подкатегория (Документ): *</label>
								<select class="form-control" id="lostAndFound.lostSubCategory" ng-model="lostAndFound.lostSubCategory">
									<option>Удостоверение личности</option>
									<option>Паспорт</option>
									<option>Свидетельство о рождении</option>
									<option>Водительское удостоверение</option>
									<option>Свидетельство о регистрации транспортного средства</option>
								</select>
							</div>

							<hr>
							<h4 class="text-primary">Данные {{formTypeRu}}</h4>

							<div class="form-group" show-errors>
								<label for="surname">Фамилия: *</label>
								<input type="text" class="form-control" name="lostAndFound.surname" ng-model="lostAndFound.surname" ng-required="true" />
							</div>
							<div class="form-group" show-errors>
								<label for="name">Имя: *</label>
								<input type="text" class="form-control" name="lostAndFound.name" ng-model="lostAndFound.name" ng-required="true" />
							</div>
							<div class="form-group" show-errors>
								<label for="date">Дата {{formTypeRu}}: *</label>
								<input type="text" class="form-control" name="lostAndFound.lostDate" ng-model="lostAndFound.lostDate" ng-required="true" />
							</div>
							<div class="form-group" show-errors>
								<label for="location">Место/Адрес {{formTypeRu}}: *</label>
								<input type="text" class="form-control" name="lostAndFound.lostAddress" ng-model="lostAndFound.lostAddress" ng-required="true" />
							</div>
							<div class="form-group" show-errors>
								<label for="description">Описание: *</label>
								<textarea class="form-control" rows="3" name="lostAndFound.description" ng-model="lostAndFound.description" ng-required="true"></textarea>
							</div>

							<hr>
							<h4 class="text-primary">Как с вами связаться</h4>

							<div class="form-group" show-errors>
								<label for="name">Имя: *</label>
								<input type="text" class="form-control" name="lostAndFound.declarantName" ng-model="lostAndFound.declarantName"  ng-required="true" />
							</div>
							<div class="form-group" show-errors>
								<label for="phone">Телефон: *</label>
								<input type="text" class="form-control" name="lostAndFound.declarantPhone" ng-model="lostAndFound.declarantPhone" ng-required="true" />
							</div>
							<div class="form-group" show-errors>
								<label for="email">Email: *</label>
								<input type="email" class="form-control" name="lostAndFound.declarantEmail" ng-model="lostAndFound.declarantEmail" ng-required="true" />
							</div>
							<button type="submit" class="btn btn-lg btn-info" ng-click="saveForm(lostAndFound)">Submit</button>
						</form>
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		!function (A, n, g, u, l, a, r) {
			A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
				(A[l].q = A[l].q || []).push(arguments)
			}, A[l].l = +new Date, a = n.createElement(g),
				r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
		}(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
</body>
</html>
