<!doctype html>
<html ng-app="lostAndFoundApp">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
	<link rel='stylesheet' href='bower_components/angular-material/angular-material.css' />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- Google font Lobster and Open Sans Condensed -->
	<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
	<!-- endbuild -->
</head>
<body ng-controller="MainCtrl" ng-cloak>
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
		your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Add your site or application content here -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">naidi.kz</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span class="glyphicon glyphicon-map-marker" style="padding-right:5px;"></span>Астана<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Астана</a></li>
							<li><a href="#">Алматы</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="">
							<span class="glyphicon glyphicon-earphone" style="padding-right:5px;"></span>Служба поддержки: +7 (778) 664-9388
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<div class="container">
		<!--<div class="row">
			<div class="col-xs-12 col-sm-8">
				<h2>Поможем найти утерянное!</h2><br>
				<p>Ежедневно люди теряют, либо находят ценные документы или предметы. Восстановление документов или замена
				пропажи - это сложный, затратный и долгий процесс. Наш проект поможет Вам найти свою пропажу или вернуть найденное. Не оставайтесь в стороне, помогайте тем, кто нуждается в Вашей помощи и Вам воздастся втройне!</p>
			</div>
			<div class="hidden-xs col-sm-4">
				<img src="images/wallet.png" class="img-responsive" alt="Responsive image">
			</div>
		</div>-->
		<hr>
		<div class="row">
			<div class="column col-md-6 col-xs-6">
				<p>
					<md-button id="btn_lost" class="md-raised md-primary" ng-click="setFormTypeAndToggleOpen('lost', 'утери')">
						Утеряно
					</md-button>
				</p>
			</div>
			<div class="column col-md-6 col-xs-6">
				<p>
					<md-button id="btn_found" class="md-raised md-primary" ng-click="setFormTypeAndToggleOpen('found', 'находки')">
						Найдено
					</md-button>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<accordion>
					<accordion-group is-open="isFormOpen">
						<form class="form-horizontal" name="lostAndFoundForm" novalidate>
							<h4 class="text-primary text-center">Предмет {{formTypeRu}}</h4>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-8 col-xs-12">
									<md-select placeholder="Категория {{formTypeRu}}*" style="width: 100%;"
											   id="lostAndFound.lostCategory" ng-model="lostAndFound.lostCategory">
										<md-option value="Документ">Документ</md-option>
										<md-option value="Портмоне/Сумка">Портмоне/Сумка</md-option>
										<md-option value="Телефон/Планшет">Телефон/Планшет</md-option>
										<md-option value="Гос. номер">Гос. номер</md-option>
										<md-option value="Печати/Штампы">Печати/Штампы</md-option>
										<md-option value="Другое">Другое</md-option>
									</md-select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-8 col-xs-12">
									<md-select placeholder="Подкатегория (Документ)*" style="width: 100%;"
											   id="lostAndFound.lostSubCategory" ng-model="lostAndFound.lostSubCategory">
										<md-option value="Удостоверение личности">Удостоверение личности</md-option>
										<md-option value="Паспорт">Паспорт</md-option>
										<md-option value="Свидетельство о рождении">Свидетельство о рождении</md-option>
										<md-option value="Водительское удостоверение">Водительское удостоверение</md-option>
										<md-option value="Свидетельство о регистрации транспортного средства">Свидетельство о регистрации транспортного средства</md-option>
									</md-select>
								</div>
							</div>

							<hr>
							<h4 class="text-primary text-center">Данные {{formTypeRu}}</h4>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="name">Имя*</label>
									<input type="text" class="form-control" name="lostAndFound.name" ng-model="lostAndFound.name" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="surname">Фамилия*</label>
									<input type="text" class="form-control" name="lostAndFound.surname" ng-model="lostAndFound.surname" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="date">Дата {{formTypeRu}}*</label>
									<input type="text" class="form-control" name="lostAndFound.lostDate" ng-model="lostAndFound.lostDate" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="location">Место/Адрес {{formTypeRu}}*</label>
									<input type="text" class="form-control" name="lostAndFound.lostAddress" ng-model="lostAndFound.lostAddress" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="description">Описание*</label>
									<input type="text" class="form-control" name="lostAndFound.description" ng-model="lostAndFound.description" ng-required="true" />
								</md-input-container>
							</div>

							<hr>
							<h4 class="text-primary text-center">Как с вами связаться</h4>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="name">Имя*</label>
									<input type="text" class="form-control" name="lostAndFound.declarantName" ng-model="lostAndFound.declarantName" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="phone">Телефон*</label>
									<input type="text" class="form-control" name="lostAndFound.declarantPhone" ng-model="lostAndFound.declarantPhone" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group" show-errors>
								<md-input-container class="col-sm-offset-2 col-sm-8 col-xs-12">
									<label for="email">Имейл*</label>
									<input type="text" class="form-control" name="lostAndFound.declarantEmail" ng-model="lostAndFound.declarantEmail" ng-required="true" />
								</md-input-container>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-3">
									<md-button id="btn_submit" class="md-raised md-primary" ng-click="saveForm(lostAndFound)">
										Добавить
									</md-button>
								</div>
							</div>
						</form>
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		!function (A, n, g, u, l, a, r) {
			A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
				(A[l].q = A[l].q || []).push(arguments)
			}, A[l].l = +new Date, a = n.createElement(g),
				r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
		}(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
</body>
</html>
