<!doctype html>
<html ng-app="lostAndFoundApp">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'/>
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- Google font Lobster and Open Sans Condensed -->
	<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
	<!-- endbuild -->

	<!-- Polymer -->
	<script src="bower_components/webcomponentsjs/webcomponents.js"></script>

	<!-- <link rel="import" href="bower_components/core-header-panel/core-header-panel.html"> -->
	<!-- <link rel="import" href="bower_components/core-toolbar/core-toolbar.html"> -->
	<link rel="import" href="bower_components/paper-button/paper-button.html">
	<link rel="import" href="bower_components/paper-input/paper-input.html">
	<!-- <link rel="import" href="bower_components/core-overlay/core-overlay.html"> -->
	<!-- <link rel="import" href="bower_components/core-dropdown/core-dropdown.html"> -->
	<link rel="import" href="bower_components/core-menu/core-menu.html">
	<link rel="import" href="bower_components/core-dropdown-menu/core-dropdown-menu.html">
	<link rel="import" href="bower_components/paper-dropdown/paper-dropdown.html">
	<link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
	<link rel="import" href="bower_components/paper-item/paper-item.html">
	<!-- <link rel="import" href="bower_components/core-menu/core-menu.html"> -->

	<style>
		.form-group {
			/*margin-bottom: 0;*/
		}
		#lost_btn {
			width: 100%;
			background: #ED5B50;
			color: #FFF;
		}
		#found_btn {
			width: 100%;
			background: #0EB072;
			color: #FFF;
		}
		#submit_btn{
			width: 100%;
			background: #4285f4;
			color: #FFF;
			margin: 0;
		}
	</style>
</head>
<body ng-controller="MainCtrl" ng-cloak>
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
		your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Add your site or application content here -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">naidi.kz</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-map-marker" style="padding-right:5px;"></span>Астана<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Астана</a></li>
							<li><a href="#">Алматы</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href=""><span class="glyphicon glyphicon-earphone" style="padding-right:5px;"></span>Служба поддержки: +7 (778) 664-9388</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<div class="container">
		<!-- <div class="row">
			<div class="col-xs-12 col-sm-8">
				<h2>Поможем найти утерянное!</h2><br>
				<p>Ежедневно люди теряют, либо находят ценные документы или предметы. Восстановление документов или замена
				пропажи - это сложный, затратный и долгий процесс. Наш проект поможет Вам найти свою пропажу или вернуть найденное. Не оставайтесь в стороне, помогайте тем, кто нуждается в Вашей помощи и Вам воздастся втройне!</p>
			</div>
			<div class="hidden-xs col-sm-4">
				<img src="images/wallet.png" class="img-responsive" alt="Responsive image">
			</div>
		</div> -->
		<hr>
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<p>
					<paper-button raised id="lost_btn" ng-click="setFormTypeAndToggleOpen('lost', 'утери')">Утеряно</paper-button>
					<!-- <button id="btn_lost" class="btn btn-danger btn-lg btn-block" type="button"
							ng-click="setFormTypeAndToggleOpen('lost', 'утери')">
						Утеряно
					</button> -->
				</p>
			</div>
			<div class="col-md-6 col-xs-6">
				<p>
					<paper-button raised id="found_btn" ng-click="setFormTypeAndToggleOpen('found', 'находки')">Найдено</paper-button>
					<!-- <button id="btn_found" class="btn btn-info btn-lg btn-block" type="button"
							ng-click="setFormTypeAndToggleOpen('found', 'находки')">
						Найдено
					</button> -->
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<accordion>
					<accordion-group is-open="isFormOpen">
					<form class="form-horizontal" name="lostAndFoundForm" novalidate>
						<br><h4 class="text-primary text-center">Предмет {{formTypeRu}}</h4>
						<div class="form-group">
							<!-- <label class="col-sm-4 col-xs-12 control-label">Категория*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-dropdown-menu label="Выберите категорию*" style="width: 100%;">
								    <paper-dropdown class="dropdown" style="position:absolute">
								        <core-menu class="menu" id="lostAndFound.lostCategory" ng-model="lostAndFound.lostCategory">
								            <paper-item>Документ</paper-item>
								            <paper-item>Портмоне/Сумка</paper-item>
								            <paper-item>Телефон/Планшет</paper-item>
								            <paper-item>Гос. номер</paper-item>
								            <paper-item>Печати/Штампы</paper-item>
								            <paper-item>Другое</paper-item>
								        </core-menu>
								    </paper-dropdown>
								</paper-dropdown-menu>
								<!-- <select class="form-control" id="lostAndFound.lostCategory" ng-model="lostAndFound.lostCategory">
									<option>Документ</option>
									<option>Портмоне/Сумка</option>
									<option>Телефон/Планшет</option>
									<option>Гос. номер</option>
									<option>Печати/Штампы</option>
									<option>Другое</option>
								</select> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group">
							<!-- <label class="col-sm-4 col-xs-12 control-label">Подкатегория (Документ)*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-dropdown-menu label="Подкатегория (Документ)*" style="width: 100%;">
								    <paper-dropdown class="dropdown" style="position:absolute">
								        <core-menu class="menu" id="lostAndFound.lostSubCategory" ng-model="lostAndFound.lostSubCategory">
								            <paper-item>Удостоверение личности</paper-item>
								            <paper-item>Паспорт</paper-item>
								            <paper-item>Свидетельство о рождении</paper-item>
								            <paper-item>Водительское удостоверение</paper-item>
								            <paper-item>Свидетельство о регистрации транспортного средства</paper-item>
								            <paper-item>Другое</paper-item>
								        </core-menu>
								    </paper-dropdown>
								</paper-dropdown-menu>
								<!-- <select class="form-control" id="lostAndFound.lostSubCategory" ng-model="lostAndFound.lostSubCategory">
									<option>Удостоверение личности</option>
									<option>Паспорт</option>
									<option>Свидетельство о рождении</option>
									<option>Водительское удостоверение</option>
									<option>Свидетельство о регистрации транспортного средства</option>
								</select> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>

						<br><h4 class="text-primary text-center">Данные {{formTypeRu}}</h4>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="surname">Фамилия*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="surname" label="Фамилия*">
									<input type="text" name="lostAndFound.surname" ng-model="lostAndFound.surname" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="text" class="form-control" name="lostAndFound.surname" ng-model="lostAndFound.surname" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="name">Имя*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="name" label="Имя*">
									<input type="text" name="lostAndFound.name" ng-model="lostAndFound.name" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="text" class="form-control" name="lostAndFound.name" ng-model="lostAndFound.name" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="date">Дата {{formTypeRu}}*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="date" label="Дата {{formTypeRu}}*">
									<input type="text" name="lostAndFound.lostDate" ng-model="lostAndFound.lostDate" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="text" class="form-control" name="lostAndFound.lostDate" ng-model="lostAndFound.lostDate" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="location">Место/Адрес {{formTypeRu}}*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="location" label="Место/Адрес {{formTypeRu}}*">
									<input type="text" name="lostAndFound.lostAddress" ng-model="lostAndFound.lostAddress" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="text" class="form-control" name="lostAndFound.lostAddress" ng-model="lostAndFound.lostAddress" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="description">Описание*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="description" label="Описание*">
								    <textarea name="lostAndFound.description" ng-model="lostAndFound.description" ng-required="true"></textarea>
								</paper-input-decorator>
								<!-- <textarea class="form-control" rows="3" name="lostAndFound.description" ng-model="lostAndFound.description" ng-required="true"></textarea> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>

						<br><h4 class="text-primary text-center">Как с вами связаться</h4>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="name">Имя*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="contactName" label="Имя*">
								    <input type="text" name="lostAndFound.declarantName" ng-model="lostAndFound.declarantName" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="text" class="form-control" name="lostAndFound.declarantName" ng-model="lostAndFound.declarantName" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="phone">Телефон*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="phone" label="Телефон*">
								    <input type="text" name="lostAndFound.declarantPhone" ng-model="lostAndFound.declarantPhone" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="text" class="form-control" name="lostAndFound.declarantPhone" ng-model="lostAndFound.declarantPhone" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>
						</div>
						<div class="form-group" show-errors>
							<!-- <label class="col-sm-4 col-xs-12 control-label" for="email">Email*</label> -->
							<div class="col-sm-offset-2 col-sm-8 col-xs-12">
								<paper-input-decorator floatingLabel for="email" label="Email*">
								    <input type="text" name="lostAndFound.declarantEmail" ng-model="lostAndFound.declarantEmail" ng-required="true"></input>
								</paper-input-decorator>
								<!-- <input type="email" class="form-control" name="lostAndFound.declarantEmail" ng-model="lostAndFound.declarantEmail" ng-required="true"/> -->
								<!-- <div class="text-danger">Тест предупреждение</div> -->
							</div>		
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-3">
								<!-- <button type="submit" class="btn btn-lg btn-info" ng-click="saveForm(lostAndFound)">Добавить</button> -->
								<paper-button id="submit_btn" ng-click="saveForm(lostAndFound)">Добавить</paper-button>
							</div>
						</div>
					</form>





						<!-- <form name="lostAndFoundForm" novalidate>
							<h4 class="text-primary">Предмет {{formTypeRu}}</h4>

							<div class="form-group">
								<label>Категория: *</label>
								<select class="form-control" id="lostAndFound.lostCategory" ng-model="lostAndFound.lostCategory">
									<option>Документ</option>
									<option>Портмоне/Сумка</option>
									<option>Телефон/Планшет</option>
									<option>Гос. номер</option>
									<option>Печати/Штампы</option>
									<option>Другое</option>
								</select>
							</div>
							<div class="form-group">
								<label>Подкатегория (Документ): *</label>
								<select class="form-control" id="lostAndFound.lostSubCategory" ng-model="lostAndFound.lostSubCategory">
									<option>Удостоверение личности</option>
									<option>Паспорт</option>
									<option>Свидетельство о рождении</option>
									<option>Водительское удостоверение</option>
									<option>Свидетельство о регистрации транспортного средства</option>
								</select>
							</div>

							<hr>
							<h4 class="text-primary">Данные {{formTypeRu}}</h4>

							<div class="form-group" show-errors>
								<label for="surname">Фамилия: *</label>
								<input type="text" class="form-control" name="lostAndFound.surname" ng-model="lostAndFound.surname" ng-required="true"/>
							</div>
							<div class="form-group" show-errors>
								<label for="name">Имя: *</label>
								<input type="text" class="form-control" name="lostAndFound.name" ng-model="lostAndFound.name" ng-required="true"/>
							</div>
							<div class="form-group" show-errors>
								<label for="date">Дата {{formTypeRu}}: *</label>
								<input type="text" class="form-control" name="lostAndFound.lostDate" ng-model="lostAndFound.lostDate" ng-required="true"/>
							</div>
							<div class="form-group" show-errors>
								<label for="location">Место/Адрес {{formTypeRu}}: *</label>
								<input type="text" class="form-control" name="lostAndFound.lostAddress" ng-model="lostAndFound.lostAddress" ng-required="true"/>
							</div>
							<div class="form-group" show-errors>
								<label for="description">Описание: *</label>
								<textarea class="form-control" rows="3" name="lostAndFound.description" ng-model="lostAndFound.description" ng-required="true"></textarea>
							</div>

							<hr>
							<h4 class="text-primary">Как с вами связаться</h4>

							<div class="form-group" show-errors>
								<label for="name">Имя: *</label>
								<input type="text" class="form-control" name="lostAndFound.declarantName" ng-model="lostAndFound.declarantName" ng-required="true"/>
							</div>
							<div class="form-group" show-errors>
								<label for="phone">Телефон: *</label>
								<input type="text" class="form-control" name="lostAndFound.declarantPhone" ng-model="lostAndFound.declarantPhone" ng-required="true"/>
							</div>
							<div class="form-group" show-errors>
								<label for="email">Email: *</label>
								<input type="email" class="form-control" name="lostAndFound.declarantEmail"
									   ng-model="lostAndFound.declarantEmail" ng-required="true"/>
							</div>
							<button type="submit" class="btn btn-lg btn-info" ng-click="saveForm(lostAndFound)">Submit
							</button>
						</form> -->
					</accordion-group>
				</accordion>
			</div>
		</div>
	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		!function (A, n, g, u, l, a, r) {
			A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
				(A[l].q = A[l].q || []).push(arguments)
			}, A[l].l = +new Date, a = n.createElement(g),
				r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
		}(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
</body>
</html>
