<!doctype html>
<html ng-app="lostAndFoundApp">
<head>
	<meta charset="utf-8">
	<title>Бюро Находок Казахстана</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
	<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
	<!-- <link rel="stylesheet" href="styles/main.css"> -->
	<link rel="stylesheet" href="styles/styles.css">
	<!-- endbuild -->

	<!-- Google font Lobster and Open Sans Condensed -->
	<link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
	<!-- endbuild -->
</head>
<body ng-controller="MainCtrl" ng-cloak>
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
		your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Add your site or application content here -->
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Бюро находок</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span class="glyphicon glyphicon-map-marker"></span>{{lostAndFound.city}}&nbsp;<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="city in cities">
								<a href="" ng-click="selectCity(city)">{{city}}</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" id="contactInfo">
							<span class="glyphicon glyphicon-earphone"></span>&nbsp;Служба поддержки: +7 (778) 664-9388
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<div class="container" id="intro">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-center" id="top_info">Поможем найти утерянное!</p>
				<h1 class="text-center">Онлайн бюро находок</h1>
				<p class="text-center" id="bottom_info">Единая база данных по Казахстану</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
					<md-button id="btn_lost" class="md-primary btn btn-lg col-md-6 col-sm-8 col-xs-12" ng-click="setFormTypeAndToggleOpen('lost', 'утери')">
						Утеряно
					</md-button>
			</div>
			<div class="col-sm-6 col-xs-12">
					<md-button id="btn_found" class="md-primary btn btn-lg col-md-6 col-sm-8 col-xs-12" ng-click="setFormTypeAndToggleOpen('found', 'находки')">
						Найдено
					</md-button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<accordion>
					<accordion-group is-open="isFormOpen" ng-style="{'border': accordionBorderStyle}">
						<form class="form-horizontal" name="lostAndFoundForm" novalidate="">
							<br>
							<h3 class="text-primary text-center">Предмет {{formTypeRu}}</h3>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8 col-xs-12">
									<md-select placeholder="Категория {{formTypeRu}}*"
											   id="lostAndFound.lostCategory"
											   ng-model="lostAndFound.lostCategory">
										<md-option ng-repeat="category in lostCategories"
												   ng-click="selectLostCategory(category)"
												   value="{{category}}">
											{{category}}
										</md-option>
									</md-select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8 col-xs-12">
									<md-select placeholder="Подкатегория*"
											   id="lostAndFound.lostSubCategory"
											   ng-model="lostAndFound.lostSubCategory">
										<md-option ng-repeat="subCategory in lostSubCategories"
												   ng-click="selectLostSubCategory(subCategory)"
												   value="{{subCategory}}">
											{{subCategory}}
										</md-option>
									</md-select>
								</div>
							</div>
							<br>
							<h3 class="text-primary text-center">Данные {{formTypeRu}}</h3>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="name">Имя*</label>
									<input type="text" name="lostAndFoundFormName" ng-model="lostAndFound.name" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundSurname.$error"
										 ng-show="lostAndFoundForm.lostAndFoundFormName.$touched && lostAndFoundForm.lostAndFoundFormName.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="surname">Фамилия*</label>
									<input type="text" name="lostAndFoundSurname" ng-model="lostAndFound.surname" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundSurname.$error"
										 ng-show="lostAndFoundForm.lostAndFoundSurname.$touched && lostAndFoundForm.lostAndFoundSurname.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="date">Дата {{formTypeRu}}*</label>
									<input type="date" locale="ru" name="lostAndFoundLostDate" ng-model="lostAndFound.lostDate" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundLostDate.$error"
										 ng-show="lostAndFoundForm.lostAndFoundLostDate.$touched && lostAndFoundForm.lostAndFoundLostDate.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="location">Место/Адрес {{formTypeRu}}*</label>
									<input type="text" name="lostAndFoundLostAddress" ng-model="lostAndFound.lostAddress" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundLostAddress.$error"
										 ng-show="lostAndFoundForm.lostAndFoundLostAddress.$touched && lostAndFoundForm.lostAndFoundLostAddress.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="description">Описание*</label>
									<input type="text" name="lostAndFoundDescription" ng-model="lostAndFound.description" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundDescription.$error"
										 ng-show="lostAndFoundForm.lostAndFoundDescription.$touched && lostAndFoundForm.lostAndFoundDescription.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<br>
							<h3 class="text-primary text-center">Как с вами связаться</h3>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="name">Имя*</label>
									<input type="text" name="lostAndFoundDeclarantName" ng-model="lostAndFound.declarantName" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundDeclarantName.$error"
										 ng-show="lostAndFoundForm.lostAndFoundDeclarantName.$touched && lostAndFoundForm.lostAndFoundDeclarantName.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="phone">Телефон*</label>
									<input type="text" name="lostAndFoundDeclarantPhone" ng-model="lostAndFound.declarantPhone" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundDeclarantPhone.$error"
										 ng-show="lostAndFoundForm.lostAndFoundDeclarantPhone.$touched && lostAndFoundForm.lostAndFoundDeclarantPhone.$invalid">
										<div ng-message="required">Обязательное поле</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
									<label for="email">Имейл*</label>
									<input type="email" name="lostAndFoundDeclarantEmail" ng-model="lostAndFound.declarantEmail" ng-required="true" />
									<div ng-messages="lostAndFoundForm.lostAndFoundDeclarantEmail.$error"
										 ng-show="lostAndFoundForm.lostAndFoundDeclarantEmail.$touched && lostAndFoundForm.lostAndFoundDeclarantEmail.$invalid">
										<div ng-message="email">Неверный имейл (электронная почта)</div>
									</div>
								</md-input-container>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-3">
									<md-button id="btn_submit" class="md-raised md-primary" ng-click="saveForm(lostAndFound)">
										Добавить
									</md-button>
								</div>
							</div>
						</form>
					</accordion-group>
				</accordion>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h1>Как это работает?</h1>
				<ol>
					<li>Вы оставляете заявку о находке или пропаже на сайте, либо оператору по телефону.</li>
					<li>Оператор обрабатывает базу данных и проверяет, нет ли ответной заявки по Вашему запросу.</li>
					<li>Если вашу пропажу нашли, оператор связывается с владельцем пропажи и сообщает о найденном предмете.</li>
					<li>Затем Вам необходимо оплатить 500 тг на Qiwi кошелек … за предоставление данной услуги.</li>
					<li>После предоставления чека, оператор сообщает Вам телефон человека, нашедшего Ваш потерянный предмет.</li>
					<li>Вы договариваетесь с этим человеком и возвращаете свой потерянный предмет.</li>
				</ol>
			</div>
		</div>
	</div>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		!function (A, n, g, u, l, a, r) {
			A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
				(A[l].q = A[l].q || []).push(arguments)
			}, A[l].l = +new Date, a = n.createElement(g),
				r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
		}(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
</body>
</html>
