<!-- Start: lostCategory == 'Телефон/Планшет' -->
<!--<div ng-show="lostAndFound.lostCategory === 'Телефон/Планшет'">-->
	<div class="form-group">
		<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
			<label for="name">Производитель*</label>
			<input type="text" name="deviceBrand" ng-model="lostAndFound.deviceBrand"
				   ng-required="true"/>
			<div ng-messages="lostAndFoundForm.deviceBrand.$error"
				 ng-show="(isFormSumbitted || lostAndFoundForm.deviceBrand.$touched) && lostAndFoundForm.deviceBrand.$invalid">
				<div ng-message="required">Обязательное поле</div>
			</div>
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
			<label>Модель</label>
			<input type="text" name="deviceModel" ng-model="lostAndFound.deviceModel"
				   ng-required="false"/>
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container class="col-md-offset-2 col-md-8 col-xs-12">
			<label>IMEI</label>
			<input type="text" name="deviceImei" ng-model="lostAndFound.deviceImei"
				   ng-required="false"/>
		</md-input-container>
	</div>
<!--</div>-->
<!-- End: lostCategory == 'Телефон/Планшет' -->
